In [30]:
#导入数据
import pandas as pd
import numpy as np
df=pd.read_excel("E:\Huawei cloud\华为云盘\文档\毕业论文\stata代码\data.xlsx")
df.head()

<>:4: SyntaxWarning: invalid escape sequence '\H'
<>:4: SyntaxWarning: invalid escape sequence '\H'
C:\Users\Barry\AppData\Local\Temp\ipykernel_2224\432859585.py:4: SyntaxWarning: invalid escape sequence '\H'
  df=pd.read_excel("E:\Huawei cloud\华为云盘\文档\毕业论文\stata代码\data.xlsx")

,Stkcd,Year,Vc,Patent,IND,Caperc,Lev,PPEperc,NPGR,SGR,RTR,ROA,Size
0,1,2010,1,2,银行,0.621796,0.954349,0.999737,0.249087,0.233480,0.520823,0.009557,7.272071e+11
1,1,2013,1,2,银行,0.321725,0.940752,0.993112,0.127322,0.139343,0.352638,0.008708,1.891741e+12
2,1,2016,1,15,银行,0.251833,0.931547,0.995822,0.033570,0.109094,0.284472,0.008277,2.953434e+12
3,1,2017,1,6,银行,0.098347,0.931644,0.996223,0.026107,0.103647,0.248194,0.007478,3.248474e+12
4,2,2004,0,17,房地产,0.324336,0.594163,1.000000,0.612774,0.099708,12.736188,0.069947,1.553442e+10

In [31]:
df['Vc'] = df['Vc'].astype('bool')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19176 entries, 0 to 19175
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Stkcd    19176 non-null  int64
 1   Year     19176 non-null  int64
 2   Vc       19176 non-null  bool
 3   Patent   19176 non-null  int64
 4   IND      19176 non-null  object
 5   Caperc   19103 non-null  float64
 6   Lev      19176 non-null  float64
 7   PPEperc  19176 non-null  float64
 8   NPGR     17775 non-null  float64
 9   SGR      19176 non-null  float64
 10  RTR      19127 non-null  float64
 11  ROA      19174 non-null  float64
 12  Size     19176 non-null  float64
dtypes: bool(1), float64(8), int64(3), object(1)
memory usage: 1.8+ MB

In [32]:
#删除空值
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17705 entries, 0 to 19175
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Stkcd    17705 non-null  int64
 1   Year     17705 non-null  int64
 2   Vc       17705 non-null  bool
 3   Patent   17705 non-null  int64
 4   IND      17705 non-null  object
 5   Caperc   17705 non-null  float64
 6   Lev      17705 non-null  float64
 7   PPEperc  17705 non-null  float64
 8   NPGR     17705 non-null  float64
 9   SGR      17705 non-null  float64
 10  RTR      17705 non-null  float64
 11  ROA      17705 non-null  float64
 12  Size     17705 non-null  float64
dtypes: bool(1), float64(8), int64(3), object(1)
memory usage: 1.8+ MB

In [33]:
#对数变换专利
df['Lnpatent'] = np.log(df['Patent'])
df = df.drop(['Patent'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17705 entries, 0 to 19175
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Stkcd     17705 non-null  int64
 1   Year      17705 non-null  int64
 2   Vc        17705 non-null  bool
 3   IND       17705 non-null  object
 4   Caperc    17705 non-null  float64
 5   Lev       17705 non-null  float64
 6   PPEperc   17705 non-null  float64
 7   NPGR      17705 non-null  float64
 8   SGR       17705 non-null  float64
 9   RTR       17705 non-null  float64
 10  ROA       17705 non-null  float64
 11  Size      17705 non-null  float64
 12  Lnpatent  17705 non-null  float64
dtypes: bool(1), float64(9), int64(2), object(1)
memory usage: 1.8+ MB

In [34]:
df.describe()

,Stkcd,Year,Caperc,Lev,PPEperc,NPGR,SGR,RTR,ROA,Size,Lnpatent
count,17705.000000,17705.000000,17705.000000,17705.000000,17705.000000,17705.000000,17705.000000,17705.000000,17705.000000,1.770500e+04,17705.000000
mean,288753.258232,2012.357413,0.335402,0.417508,0.935047,2.147092,0.056161,86.925239,0.051614,5.874977e+10,2.790529
std,275328.487218,3.807473,1.248769,0.205711,0.081201,307.608406,0.389898,3282.142136,0.058544,7.816330e+11,1.555381
min,1.000000,2003.000000,-13.825492,0.007080,0.164914,-1005.876123,-44.038285,0.063927,-1.324078,1.516337e+08,0.000000
25%,2191.000000,2010.000000,0.026289,0.253436,0.926381,-0.235404,0.022944,3.240088,0.020111,1.373207e+09,1.791759
50%,300153.000000,2013.000000,0.083857,0.411271,0.960061,0.104870,0.054302,5.622443,0.045926,2.793085e+09,2.772589
75%,600475.000000,2016.000000,0.237896,0.570055,0.979976,0.407480,0.093552,11.743022,0.079352,6.873361e+09,3.784190
max,603999.000000,2017.000000,114.584432,3.082666,1.000000,40867.231684,7.897349,336806.143964,0.477017,2.608704e+13,9.908823

In [35]:
#正态标准化
from sklearn.preprocessing import StandardScaler
df_r = df.drop(['Stkcd', 'Year', 'Vc', 'IND'], axis=1)
scaler = StandardScaler().fit(df_r)
df[['Caperc','Lev','PPEperc','NPGR','SGR','RTR','ROA','Size','Lnpatent']] = scaler.transform(df_r)
df.describe()

,Stkcd,Year,Caperc,Lev,PPEperc,NPGR,SGR,RTR,ROA,Size,Lnpatent
count,17705.000000,17705.000000,1.770500e+04,1.770500e+04,1.770500e+04,1.770500e+04,1.770500e+04,1.770500e+04,1.770500e+04,1.770500e+04,1.770500e+04
mean,288753.258232,2012.357413,-2.488204e-17,2.568469e-17,-1.745756e-15,-5.016540e-19,-1.163837e-17,2.407939e-18,-3.210586e-18,-1.284234e-17,2.664786e-16
std,275328.487218,3.807473,1.000028e+00,1.000028e+00,1.000028e+00,1.000028e+00,1.000028e+00,1.000028e+00,1.000028e+00,1.000028e+00,1.000028e+00
min,1.000000,2003.000000,-1.134020e+01,-1.995224e+00,-9.484580e+00,-3.277062e+00,-1.130954e+02,-2.646557e-02,-2.349910e+01,-7.497098e-02,-1.794164e+00
25%,2191.000000,2010.000000,-2.475410e-01,-7.976071e-01,-1.067296e-01,-7.745441e-03,-8.519772e-02,-2.549783e-02,-5.381167e-01,-7.340809e-02,-6.421567e-01
50%,300153.000000,2013.000000,-2.014399e-01,-3.031943e-02,3.080565e-01,-6.639218e-03,-4.769296e-03,-2.477196e-02,-9.715362e-02,-7.159148e-02,-1.153491e-02
75%,600475.000000,2016.000000,-7.808377e-02,7.415817e-01,5.533198e-01,-5.655439e-03,9.590088e-02,-2.290709e-02,4.738180e-01,-6.637114e-02,6.388715e-01
max,603999.000000,2017.000000,9.149190e+01,1.295621e+01,7.999255e-01,1.328515e+02,2.011143e+01,1.025942e+02,7.266597e+00,3.330083e+01,4.576690e+00

In [36]:
#数据平衡性
df['Vc'].value_counts()

Vc
False    13642
True      4063
Name: count, dtype: int64

In [37]:
#将控制组取出
is_control = df.groupby('Stkcd')['Vc'].transform(lambda x: (x==0).all())
data_control = df[is_control]
data_control.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7255 entries, 4 to 19173
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Stkcd     7255 non-null   int64
 1   Year      7255 non-null   int64
 2   Vc        7255 non-null   bool
 3   IND       7255 non-null   object
 4   Caperc    7255 non-null   float64
 5   Lev       7255 non-null   float64
 6   PPEperc   7255 non-null   float64
 7   NPGR      7255 non-null   float64
 8   SGR       7255 non-null   float64
 9   RTR       7255 non-null   float64
 10  ROA       7255 non-null   float64
 11  Size      7255 non-null   float64
 12  Lnpatent  7255 non-null   float64
dtypes: bool(1), float64(9), int64(2), object(1)
memory usage: 743.9+ KB

In [38]:
df_sorted = df.sort_values(by=['Stkcd', 'Year'])
df['is_bad'] = df_sorted.groupby('Stkcd')['Vc'].transform('first') == 1
data_bad = df[df['is_bad']].copy()
data_bad.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3500 entries, 0 to 19175
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Stkcd     3500 non-null   int64
 1   Year      3500 non-null   int64
 2   Vc        3500 non-null   bool
 3   IND       3500 non-null   object
 4   Caperc    3500 non-null   float64
 5   Lev       3500 non-null   float64
 6   PPEperc   3500 non-null   float64
 7   NPGR      3500 non-null   float64
 8   SGR       3500 non-null   float64
 9   RTR       3500 non-null   float64
 10  ROA       3500 non-null   float64
 11  Size      3500 non-null   float64
 12  Lnpatent  3500 non-null   float64
 13  is_bad    3500 non-null   bool
dtypes: bool(2), float64(9), int64(2), object(1)
memory usage: 362.3+ KB

In [39]:
data = df.drop(data_bad.index)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14205 entries, 4 to 19173
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Stkcd     14205 non-null  int64
 1   Year      14205 non-null  int64
 2   Vc        14205 non-null  bool
 3   IND       14205 non-null  object
 4   Caperc    14205 non-null  float64
 5   Lev       14205 non-null  float64
 6   PPEperc   14205 non-null  float64
 7   NPGR      14205 non-null  float64
 8   SGR       14205 non-null  float64
 9   RTR       14205 non-null  float64
 10  ROA       14205 non-null  float64
 11  Size      14205 non-null  float64
 12  Lnpatent  14205 non-null  float64
 13  is_bad    14205 non-null  bool
dtypes: bool(2), float64(9), int64(2), object(1)
memory usage: 1.4+ MB

In [40]:
data_treat = data.drop(data_control.index)
data_treat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6950 entries, 47 to 19166
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Stkcd     6950 non-null   int64
 1   Year      6950 non-null   int64
 2   Vc        6950 non-null   bool
 3   IND       6950 non-null   object
 4   Caperc    6950 non-null   float64
 5   Lev       6950 non-null   float64
 6   PPEperc   6950 non-null   float64
 7   NPGR      6950 non-null   float64
 8   SGR       6950 non-null   float64
 9   RTR       6950 non-null   float64
 10  ROA       6950 non-null   float64
 11  Size      6950 non-null   float64
 12  Lnpatent  6950 non-null   float64
 13  is_bad    6950 non-null   bool
dtypes: bool(2), float64(9), int64(2), object(1)
memory usage: 719.4+ KB

In [42]:
#分别导出控制组和实验组
data_control.to_excel('E:\Huawei cloud\华为云盘\文档\毕业论文\stata代码\data_control.xlsx')
data_treat.to_excel('E:\Huawei cloud\华为云盘\文档\毕业论文\stata代码\data_treat.xlsx')
data_bad.to_excel('E:\Huawei cloud\华为云盘\文档\毕业论文\stata代码\data_bad.xlsx')

<>:2: SyntaxWarning: invalid escape sequence '\H'
<>:3: SyntaxWarning: invalid escape sequence '\H'
<>:4: SyntaxWarning: invalid escape sequence '\H'
<>:2: SyntaxWarning: invalid escape sequence '\H'
<>:3: SyntaxWarning: invalid escape sequence '\H'
<>:4: SyntaxWarning: invalid escape sequence '\H'
C:\Users\Barry\AppData\Local\Temp\ipykernel_2224\1478834434.py:2: SyntaxWarning: invalid escape sequence '\H'
  data_control.to_excel('E:\Huawei cloud\华为云盘\文档\毕业论文\stata代码\data_control.xlsx')
C:\Users\Barry\AppData\Local\Temp\ipykernel_2224\1478834434.py:3: SyntaxWarning: invalid escape sequence '\H'
  data_treat.to_excel('E:\Huawei cloud\华为云盘\文档\毕业论文\stata代码\data_treat.xlsx')
C:\Users\Barry\AppData\Local\Temp\ipykernel_2224\1478834434.py:4: SyntaxWarning: invalid escape sequence '\H'
  data_bad.to_excel('E:\Huawei cloud\华为云盘\文档\毕业论文\stata代码\data_bad.xlsx')